* { box-sizing: border-box; }

h1 {
  text-align: center;
}

form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: solid 1px #c2c2c2;
  padding-bottom: 10px;
  margin: auto;
  background: #fafafa;
}
.pantalla {
  background-color: red;
}


.button-calc {
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
}

.calculator {
  float: center;
  background-color: blue;
  padding-bottom: 200px;
}

.fila {
  width: 60%;
  margin: 0 auto;
}

.botoncillos {
  margin: 0 auto;

}
